.linkWrapper {
    text-decoration: none;
    display: block;
}

.titleWrapper {
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Styles for homepage title */
.homepageTitle {
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    /* Zmenšený padding nahoře */
    
}

/* Styles for subpage title */
.subpageTitle {
    position: relative;
    left: 20px;
    top: 20px;
    width: auto;
    background-color: #121212;
    /* Přidané pozadí */
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1000;
}
/* Přidej margin-top pro content na podstránkách */
body:not(.homepage) #mainContentWrapper main {
    margin-top: 60px;
    /* Uprav podle výšky vašeho nadpisu */
}
.glowingTitle {
    font-family: 'Reggae One';
    line-height: 1;
    position: relative;
    color: transparent;
    background: linear-gradient(180deg,
            #ff9966 0%,
            #ff6600 50%,
            #ff4400 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 2px #ff4400;
    filter: brightness(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Homepage title styles */
.homepageGlowingTitle {
    font-size: 4.5rem;
}

/* Subpage title styles */
.subpageGlowingTitle {
    position:relative;
    font-size: 1.2rem;
    -webkit-text-stroke: 1px #ff4400;
    padding: 0.5rem;
}

/* Enhanced hover effects */
.glowingTitle:hover {
    background: linear-gradient(180deg,
            #ffcc00 0%,
            #ff8800 50%,
            #ff4400 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 2px #ff6600;
    filter: brightness(1.5);
    text-shadow:
        0 0 5px rgba(255, 102, 0, 0.9),
        0 0 10px rgba(255, 102, 0, 0.7),
        0 0 15px rgba(255, 102, 0, 0.5),
        0 0 20px rgba(255, 102, 0, 0.3);
    transform: scale(1.03);
}

/* Mobile styles */
@media (max-width: 768px) {
    .homepageTitle {
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 0.3rem;
        position: relative;
    }
 .content-box .glowingTitle {
     display: none;
 }
    .homepageGlowingTitle {
        font-size: 2rem;
    }

    .subpageTitle {
        left: 10px;
        top: 10px;
    }

    .subpageGlowingTitle {
        position: relative;
            
        font-size: 1rem;
        padding: 0.3rem;
    }
}

/* Even smaller screens */
@media (max-width: 480px) {
    .homepageGlowingTitle {
        font-size: 1.8rem;
    }

    .subpageGlowingTitle {
        font-size: 0.9rem;
        padding: 0.2rem;
    }
}